[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendros/SPIRV-Cross"]
	path = vendors/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
